.container-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .container-cards{
        margin-left: 300px;
    }
 
  
}